.comment {
  background-color: white;
  margin-top: 16px;
  border-radius: 4px;
  padding-right: 16px;
  padding-left: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.commentInfo {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-left: 20px;
  cursor: pointer;
}

.noContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
